body{
	padding-top: 128px;
}

.wrapper{
	/*background-size: cover;
	*/

}

/*
Imagen codigo rz
*/
.img-bg1
{
	width: 100%;
	position: absolute;
	opacity: 0.8;
	margin: -35px 0;
	padding: 0;
	z-index:-20;	
	max-width: 1024px;
	/*min-width: 800px;
	*/
}

input[type=radio] 
{
	display: none;	
}

input[type=radio] + label
{
	
	margin: 10px;
	display: inline-block;
	margin-left: 70px;
	padding-left: 20px;
	width: 20px;
	height: 20px;
	background: url(/img/uncheck.png) 0px 0px no-repeat;
}

input[type=radio]:checked + label
{
	
	background: url(/img/check.png) 0px 0px no-repeat;
}


.video-container {
   /* 
    padding-bottom: 37.63%;
    height: 0; 
    overflow: hidden;
    */
    position: relative;
    min-height: 389px;
    padding-top: 10px; 
    margin: 30px 0;
    
}

.video-container iframe,
.video-container object,
.video-container embed {
   position: absolute;
    /*


    */
	left: 0;
	top: 0;
    width: 100%;
    height: 100%;
    
}

.lista-demostracion li
{

	font-size: 1em;
	color: #009F3B;
	line-height: 1em;
	padding:.5em 0  1em 0;
	text-shadow: 2px 2px 1px #eeff00;
	filter: dropshadow(color=#eeff00, offx=2, offy=2);


}
/*
/Imagen codigo rz
*/

/* barra navegación */
.nav.main{
	background: #fff;
	box-shadow: 0 0 .5em rgba(0,0,0,0.20);
	min-height: 128px;
}

.nav.main .container{
	position: relative;
}

.nav.main h1{
	background: url(/img/logo_vorwerk_thermomix.png);
	display: block;
	height: 101px;
	margin: 0;
	overflow: hidden;
	text-indent: -999px;
	width: 174px;
}

.nav.main .telefono{
	color: #009F3B;
	font-size: 56px;
	font-weight:bold;
	line-height: 1em;
	text-align: right;
	text-shadow:
		0px 0px 0 rgb(0,209,42),
		1px 1px 0 rgb(-18,191,24),
		2px 2px 0 rgb(-36,173,6),
		3px 3px 2px rgba(0,0,0,0.6),
		3px 3px 1px rgba(0,0,0,0.5),
		0px 0px 2px rgba(0,0,0,.2)
	;
}

/* Forma Cita */

.forma{
	background: rgba(255,255,255,0.65);
}

.forma form{
	margin: 5%;
	width: 90%;
}

.forma form input[type="text"],
.forma form input[type="email"],
.forma form textarea{
	width: 96.5%;
}

.form input[type="radio"] + label
{
	display: inline-block;
}

/* Texto */

h1,h2,h3,h4,h5,h6{
	color: #009f3b;
}